* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
}
p {
  font-size: 1.2rem;
  color: #787878;
  font-family: sans-serif;
}
h6 {
  color: #d08e02;
  font-weight: 600;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  font-family: sans-serif;
}
ul.dropdown-menu.show li {
  padding: 10px 50px 10px 10px;
}
h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;

  font-weight: 600;
}
.topnav {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 300px;
  border-bottom: 1px solid #787878;
  position: absolute;
  top: 10px;
  width: 100%;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
  border: none;
}
.btn-close:focus {
  outline: 0;
  box-shadow: none;
  opacity: 1;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: none;
}
i.fa.fa-bars {
  color: #fff;
  font-size: 30px;
  border: 0;
}
nav.navbar.navbar-light.navbar-expand-lg.bnav {
  position: absolute;
  top: 70px;
  width: 100%;
}
.tleft a {
  text-decoration: none;
  color: #fff;
}
.tleft .fa {
  margin: 0 10px;
  color: #d08e02;
  font-size: 20px !important;
  line-height: 30px;
}
.tright ul {
  padding-left: 0rem;
  margin-bottom: 0rem;
}
.tright ul li {
  display: inline-block;
  padding: 0 20px;
}
.tright ul li a {
  color: #fff;
}
.tright ul li a:hover {
  color: #fff;
}
a.nav-link.active {
  color: #d08e02 !important;
}
a.nav-link:hover {
  color: #d08e02 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
a.nav-link {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0px 0 20px;
  font-weight: 600;
}
a.navbar-brand img {
  max-width: 146px;
}
.offcanvas.show {
  transform: translateX(100%);
  right: 2% !important;
}
.offcanvas-end {
  top: 0;
  left: -44% !important;
  width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
}

.back-video {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.back-video video {
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}
video {
  height: 100%;
  overflow: hidden;
}
/* a.nav-link {
  color: #fff !important;
} */
#banner {
  position: relative;
  background-image: url(images/modern-house-exterior.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
#about-banner {
  position: relative;
  background-image: url(images/contemporary-design.jpg);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.about-text-box.text-center {
  top: 40%;
  position: absolute;
  left: 33%;
  width: 29%;
}
.banner-shadow,
.about-shadow {
  background-color: #7e7e7e;
  opacity: 1;
  mix-blend-mode: multiply;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.text-box {
  position: absolute;
  width: 31%;
  top: 35%;
}
h1 {
  font-size: 6rem;
}

.Shadow-img {
  position: absolute;
  width: 70%;
  bottom: 0;
  right: 0;
}

.Shadow-img img {
  width: 100%;
}
.contact-us {
  box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
  margin-top: 0px;
  margin-bottom: -200px;
  position: absolute;
  bottom: 0;
  display: flex;
  max-width: 30%;
}
.contact-left {
  background: #fff;
  color: #000;
  padding: 50px;
  width: 50%;
}
.contact-right {
  background: #f4f4f4;
  color: #000;
  padding: 50px;
  width: 50%;
}
.btn {
  padding: 15px 24px;
  margin: 20px 0px 0px 0px;
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #d08e02;
  border-radius: 0px 0px 0px 0px;
}
.btn a {
  text-decoration: none;
  color: #fff;
}
#premium {
  margin-top: 190px;
  margin-bottom: 0px;
  padding: 60px 0px 100px 0px;
}
.split-img {
  background: url(images/about-us-3.jpg);
  margin: -1px -1px -1px -1px;
  padding: 0px 0px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  width: 43%;
  margin: 0 auto;
}
.split-img img {
  border-style: none;
  height: auto;
  max-width: 100%;
}
#premium .pt-5 {
  padding-top: 3rem !important;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}
/* slider */
section.main-bg-2 {
  padding: 50px 0 100px;
}
.col-md-12.content.text-center {
  width: 50%;
  margin: 0 auto 50px;
}
p.companies {
  color: #787878;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 80%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slide11 img {
  width: 135px;
  margin-left: 45px;
}
.slide12 img {
  width: 135px;
  margin-left: 45px;
}
.slide13 img {
  margin-left: 45px;
}
.slide14 img {
  margin-left: 45px;
}
/* vision content */

section.vission {
  padding: 50px 0 50px;
}
img.house {
  width: 100%;
  height: 100%;
}
.col-md-6.btn-right {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
.col-md-6.btn-right .btn {
  padding: 15px 24px;
  margin: 50px 0px 0px 0px;
}
.col-md-6.left-content {
  width: 49%;
}

.col-md-6.left-content p {
  padding: 0px 0px 20px;
}
.vscontent a {
  color: #000;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}
i.fa.fa-building {
  font-size: 3rem;
  color: #d08e02;
}

.col-md-6.w-4 {
  width: 40%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vscontent h2 {
  font-size: 1.7rem;
  padding: 10px 0 0;
  opacity: 0.7;
}
.vscontent p {
  font-size: 1rem;
  padding: 10px 0 0;
}
/* carousel */

.back-overlay {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  top: 0;
}
.overlay {
  position: relative;
  left: 17%;
  text-align: right;
  width: 32%;
  top: 30%;
  color: #fff;
}
.over-img {
  bottom: 0;
  position: absolute;
}
.over-img img {
  width: 100%;
}
.overlay h2 {
  font-size: 4rem;
}

/* feature */
section.feature {
  margin: 50px 0;
}
.fcontent.text-center {
  display: flex;
  flex-direction: column;
  width: 49%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
img.fimage {
  width: 100%;
  height: 100%;
}
.feature .col-md-6.w-6 {
  padding: 0;
}
.feature .col-md-6.w-4 {
  width: 50%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature .col-md-6.w-4 {
  background: #eeeeee;
  display: block;
  padding: 100px 60px;
}

.fcontent h4 {
  font-size: 2rem;
}
.fcontent a {
  text-decoration: none;
  color: #787878;
}

.flcontent h5 {
  padding: 20px 0 0;
}
i.fa.fa-map-marker,
i.fa.fa-phone {
  margin-right: 24px;
  color: #d08e02;
  font-size: 24px;
  line-height: 30px;
}
.top {
  padding: 10px 0;
}
.top a {
  text-decoration: none;
  color: #787878;
  padding: 0 80px 0 0;
}
.top .fa {
  font-size: 24px;
  color: #d08e02;
  padding-right: 15px;
}
/* card */
.card-demo .card {
  border: 0;
}
section.card-demo {
  margin: 50px 0;
}
abbr {
  text-decoration: line-through;
}
.cardb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .fa {
  margin-right: 10px !important;
  color: #d08e02;
  font-size: 16px !important;
}
.card a {
  text-decoration: none;
  color: #7a7a7a;
}
.card a:hover {
  color: #7a7a7a;
}
.card-demo .card-body {
  flex: 1 1 auto;
  padding: 1rem 0rem;
}
/* benefits */
section.benefits {
  background-image: url(images/white-plaster-texture.jpg);
  padding: 50px 0;
  height: 80vh;
  display: flex;
  align-items: center;
}
section.sbenefits {
  background-image: url(images/white-plaster-texture.jpg);
  padding: 50px 0;
  height: auto;
  display: flex;
  align-items: center;
}
.bcontent.text-left {
  width: 50%;
  padding: 0 0 50px;
}
.bcontents {
  width: 75%;
}
/* slider carousel */
.testi-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 50px 0;
}
.carousel-container {
  width: 510px;
  height: 350px;
  padding: 50px 50px;
  box-shadow: 0rem 0rem 5px;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img img {
  position: absolute;
  left: 55%;
  max-width: 122px;
  top: 23%;
  z-index: 2;
}
.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-star {
  font-size: 12px;
  padding: 20px 0;
}
.review p.py-2 {
  font-size: 1.3rem;
}
.avatar {
  max-width: 75px;
  border-radius: 50%;
}

.side-img {
  width: 50%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(images/testimonial.jpg);
  position: relative;
  z-index: -1;
  left: 55%;
}
/* .side-img {
  width: 47vw;
  height: 92vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(images/testimonial.jpg);
} */
.rcontent {
  display: flex;
  align-items: center;
}
.content {
  padding-left: 20px;
}
.content p {
  margin-top: 0;
  margin-bottom: 0rem;
}
/* news */
section.news {
  padding: 50px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}
section.news .btn {
  margin: 20px auto;
  display: table;
}
section.news .card a {
  text-decoration: none;
  color: #d08e02;
}
.card.h-100 {
  background-color: #ffffff00;
  box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);
  border-radius: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border: 0;
}
.news .card-body {
  flex: 1 1 auto;
  padding: 1rem 3rem 1rem 2rem;
}
.news .small,
small {
  font-size: 0.875em;
  font-family: sans-serif;
}
.news .card-body h5 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
  margin: 10px 0;
}
/* about */
#partner {
  margin: 50px 0;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(images/modern-apartment-buildings.jpg);
}
#partner .Shadow-img {
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
}
#partner .about-txt {
  position: absolute;
  color: #fff;
  width: 34%;
  top: 30%;
}
section#team {
  margin: 50px 0;
  height: 80vh;
}

#team .tcard {
  position: relative;
}
#team .card-body {
  width: 70%;
  box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  position: absolute;
  bottom: -50px;
  left: 15%;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 00.5s;
}
.layer:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.layer ul.social {
  width: auto;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 42%;
  transform: translateX(-19%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  top: 40%;
}
.layer:hover ul.social {
  bottom: 49%;
  opacity: 1;
}
.layer ul li {
  display: inline-block;
  list-style: none;
}
.layer ul li a {
  text-align: center;
  text-decoration: none;
  border-radius: 50% 50% 50% 50%;
  font-family: "Playfair Display", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 46px;
  width: 40px;
  height: 40px;
  background: #d08e02;
  padding: 10px;
  color: #fff;
}
.layer ul li a .fa {
  margin-right: 10px !important;
  color: #fff;
  font-size: 16px !important;
}
.layer ul li a:hover {
  background: #000;
  color: #fff;
}
/* contact */
section#content {
  margin: 100px 0;
}
section#content iframe {
  width: 510px;
  height: 450px;
}
form.row.g-3 {
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 20px;
  padding: 40px 40px 40px 40px;
}
label.form-label {
  font-size: 1.5rem;
  font-weight: 600;
}
.form-control {
  background-color: #fafafa;
  border: 1px solid #ededed;
  padding: 15px 25px 15px 25px;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
  border: none;
}
section#apremium {
  height: 100vh;
  display: flex;
  align-items: center;
}
#apremium .pt-5 {
  padding-top: 3rem !important;
  width: 40%;
}
.funfact-content {
  margin-top: 20px;
}
.super {
  font-size: 30px;
  font-weight: 600;
  line-height: 1em;
  top: -10px;
  left: 0px;
  vertical-align: super;
  color: #d08e02;
}
section#box-content {
  padding: 50px 0;
}
.number-percentage-wraper {
  font-family: "Inter", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
h5.funfact-title {
  color: #828282;
  font-weight: 200;
  font-family: serif;
}
.btn-primary:hover {
  color: #d08e02;

  background-color: #ffffff;
  border-color: #d08e02;
}
.card-content.mb-3 a {
  text-decoration: none;
  color: #d08e02;
  text-transform: uppercase;
}
/* footer */
footer {
  background: #000;
  padding: 40px 0;
  position: relative;
  background-image: url(images/footer-overlay.png);
  background-repeat: no-repeat;
  color: #fff;
}
footer p {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.1rem;
}
footer a {
  color: #fff;
  font-family: sans-serif;
}
footer a:hover {
  color: #d08e02;
}
p.pb-2 {
  font-size: 1rem;
  padding-right: 90px;
}
.ftop img {
  width: 20%;
  vertical-align: middle;
  margin-bottom: 20px;
}
.ftop.text-center {
  width: 49%;
  margin: 0 auto;
}
footer ol,
ul {
  padding-left: 0rem;
}
footer ul li {
  list-style: none;
  padding: 5px 0;
}
footer ul li a {
  text-decoration: none;
}
footer i.fa.fa-map-marker,
i.fa.fa-phone {
  margin-right: 15px;
  color: #d08e02;
  font-size: 20px;
}
a.mlast {
  display: flex;
  align-items: center;
}
input.ekit_mail_email.ekit_form_control {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  padding: 15px 15px 15px 24px;
  margin-right: 8px;
  width: 60%;
}
input.ekit_mail_email.ekit_form_control:focus-visible,
.ekit-mail-submit {
  outline: none;
}
.ekit-mail-submit {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px 0px 0px 0px;
  padding: 14px 24px 14px 20px;
  color: #ffffff;
  background-color: #d08e02;
}
.bfoo {
  display: flex;
  justify-content: space-between;
}
footer hr {
  margin: 2rem 0;
}
@media (max-width: 1900px) {
  .text-box {
    width: 36%;
  }
  section#team {
    height: 90vh;
  }
}
@media (max-width: 1700px) {
  .text-box {
    width: 40%;
  }
  .overlay {
    width: 40%;
  }
  section#team {
    margin: 50px 0;
    height: 90vh;
  }
  .ftop.text-center {
    width: 46%;
    margin: 0 auto;
  }
  .contact-left {
    padding: 50px 25px;
  }
  .contact-right {
    padding: 50px 25px;
  }
}
@media (max-width: 1500px) {
  .contact-left {
    padding: 50px 60px;
  }
  .contact-right {
    padding: 50px 60px;
  }
  p {
    font-size: 1rem;
  }
  #banner {
    height: 124.5vh;
  }
  #about-banner {
    position: relative;
    background-image: url(images/contemporary-design.jpg);
    height: 80vh;
  }
  .about-text-box.text-center {
    top: 45%;
    position: absolute;
    left: 33%;
    width: 37%;
  }
  .back-video {
    min-height: 124.5vh;
  }
  .topnav {
    padding: 15px 100px;
  }
  .text-box {
    position: absolute;
    width: 45%;
    top: 45%;
  }
  h1 {
    font-size: 6rem;
    line-height: 85px;
    margin-bottom: 20px;
  }
  .text-box p.pr-4 {
    padding-right: 75px;
  }
  .contact-us {
    margin-bottom: -200px;
    max-width: 40%;
  }
  #premium .pt-5 {
    padding-top: 3rem !important;
    width: 50%;
  }
  #apremium .pt-5 {
    padding-top: 3rem !important;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
  }

  .split-img {
    width: 50%;
    height: 100%;
  }
  #premium h4 {
    font-size: 3rem;
  }
  .overlay {
    left: 20%;
    width: 45%;
  }
  section.benefits {
    height: 100vh;
  }
  section.news {
    height: 100%;
  }
  .carousel-container {
    width: 510px;
    height: 350px;
    padding: 50px 50px;
    box-shadow: 0rem 0rem 5px;
    position: absolute;
    top: 32%;
    left: 24%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .news .card-body {
    flex: 1 1 auto;
    padding: 1rem 3rem 1rem 2rem;
  }
  .news .card-body h5 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    margin: 10px 0;
  }
  #apremium {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 60px 0px;
  }
  .funfact-content {
    margin-top: 20px;
  }
  .super {
    font-size: 30px;
    font-weight: 600;
    line-height: 1em;
    top: -10px;
    left: 0px;
    vertical-align: super;
    color: #d08e02;
  }
  section#box-content {
    padding: 50px 0;
  }
  .number-percentage-wraper {
    font-family: "Inter", Sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  h5.funfact-title {
    color: #828282;
    font-weight: 200;
    font-family: serif;
  }
  .side-img {
    width: 50%;
    height: 90vh;
  }
}

@media (max-width: 1380px) {
  .text-box {
    position: absolute;
    width: 50%;
  }
  .overlay {
    left: 20%;
    width: 50%;
  }
  .contact-left {
    padding: 50px 50px;
  }
  .contact-right {
    padding: 50px 53px;
  }
  .side-img {
    width: 45%;
    left: 55%;
    height: 80vh;
  }
  .carousel-container {
    width: 420px;
    height: 334px;
    padding: 18px 30px;
    top: 30%;
    left: 27%;
  }
  section#team {
    margin: 100px 0;
    height: auto;
  }
  .bcontents {
    width: 90%;
  }
}
@media (max-width: 1150px) {
  .text-box {
    position: absolute;
    width: 60%;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .overlay {
    left: 20%;
    width: 49%;
  }
  .overlay h2 {
    font-size: 3rem;
  }
}
@media (max-width: 1040px) {
  .text-box {
    position: absolute;
    width: 75%;
    top: 20%;
  }
  .contact-us {
    margin-bottom: -140px;
    max-width: 60%;
  }
}
@media (max-width: 950px) {
  .navbar-light .navbar-nav .nav-link {
    color: #000;
  }
  .topnav {
    display: none;
  }
  nav.navbar.navbar-light.navbar-expand-lg.bnav {
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .offcanvas-end {
    top: 0;
    left: -75% !important;
    width: 500px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
  }
  h5#offcanvasNavbarLabel {
    margin-left: 30%;
  }
  ul.navbar-nav.justify-content-end.flex-grow-1.pe-3 {
    margin-left: 25%;
  }
  section#team {
    margin: 50px 0;
    height: auto;
  }
  #team .tcard {
    position: relative;
    margin: 50px 0;
  }
}
@media (max-width: 768px) {
  .text-box {
    position: absolute;
    width: 80%;
    top: 20%;
  }
  .contact-us {
    margin-bottom: -140px;
    max-width: 75%;
  }
  .feature .col-md-6.w-4 {
    width: 100%;
  }
  section.benefits {
    height: 100%;
  }
  .bcontent.text-left {
    width: 100%;
    padding: 0 0 50px;
  }
  .col-md-6.btn-right {
    display: flex;
    align-items: baseline;
    justify-content: start;
  }
  .col-md-6.w-4 {
    width: 100%;
  }
  .overlay {
    left: 0%;
    width: 99%;
  }
  .fcontent.text-center {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #premium .pt-5 {
    padding-top: 3rem !important;
    width: 100%;
  }
  .split-img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  li.nav-item {
    padding-left: 30px;
  }

  p {
    font-size: 1rem;
    color: #787878;
  }
  .offcanvas.show {
    transform: translateX(100%);
    right: 100% !important;
  }
  .offcanvas-end {
    top: 0;
    left: -70% !important;
    width: 450px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
  }
  h5#offcanvasNavbarLabel {
    margin-left: 20%;
  }
  ul.navbar-nav.justify-content-end.flex-grow-1.pe-3 {
    margin-left: 10%;
  }
  .text-box {
    position: absolute;
    width: 81%;
    top: 20%;
  }
  .about-text-box.text-center {
    top: 40%;
    position: absolute;
    left: 0;
    width: 100%;
  }
  h1 {
    font-size: 3rem;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .contact-us {
    display: none;
  }
  #premium {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 0px 100px 0px;
  }
  .Shadow-img {
    position: absolute;
    width: 100%;
  }
  .col-md-12.content.text-center {
    width: 100%;
    margin: 0 auto 50px;
  }
  .feature .col-md-6.w-4 {
    width: 100%;
  }
  section.benefits {
    height: 100%;
  }
  .bcontent.text-left {
    width: 100%;
    padding: 0 0 50px;
  }
  .col-md-6.btn-right {
    display: flex;
    align-items: baseline;
    justify-content: start;
  }
  .col-md-6.w-4 {
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
  }
  .overlay {
    left: 0%;
    width: 99%;
  }
  .w-100 {
    width: 100% !important;
    height: 100vh;
  }

  .fcontent.text-center {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #premium .pt-5 {
    padding-top: 3rem !important;
    width: 100%;
  }
  .split-img {
    width: 100%;
    height: 100%;
  }
  .col-md-6.left-content {
    width: 100%;
  }
  .col-md-6.btn-right .btn {
    padding: 15px 24px;
    margin: 0px 0px 25px 0px;
  }
  .feature .col-md-6.w-4 {
    background: #eeeeee;
    display: block;
    padding: 51px 10px;
  }
  .flcontent .top a {
    text-decoration: none;
    color: #787878;
    padding: 0 50px 0 0;
  }
  .ftop.text-center {
    width: 100%;
    /* margin: 0 auto; */
  }
  /* carousel */
  .side-img {
    width: 100%;
    height: 100vh;
    left: 0%;
  }
  .img img {
    display: none;
  }
  #apremium .pt-5 {
    padding-top: 3rem !important;
    width: 100%;
  }
  #partner .about-txt {
    position: absolute;
    color: #fff;
    width: 90%;
    top: 30%;
  }
  .carousel-container {
    width: 350px;
    height: 370px;
    padding: 50px 20px;
    box-shadow: 0rem 0rem 5px;
    position: absolute;
    top: 50%;
    left: 13.5%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer {
    font-family: serif !important;

    padding: 270px 10px 20px;
    background-image: url(images/footer-overlay.png);
  }
  .bfoo {
    display: block;
  }
  section#content iframe {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 600px) {
  .offcanvas-end {
    top: 0;
    left: -80% !important;
    width: 400px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
  }
}
@media (max-width: 450px) {
  .offcanvas-end {
    top: 0;
    left: -82% !important;
    width: 300px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
  }
  h5#offcanvasNavbarLabel {
    margin-left: 27%;
  }
  .carousel-container {
    width: 300px;
  }
  .col-md-3.col-sm-6.col-xs-6.text-center {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .offcanvas-end {
    top: 0;
    left: -90% !important;
    width: 300px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
  }
  h5#offcanvasNavbarLabel {
    margin-left: 26%;
  }
  .carousel-container {
    width: 330px;
    left: 3.5%;
  }
}
@media (max-width: 350px) {
  .offcanvas-end {
    top: 0;
    left: -100% !important;
    width: 300px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
  }
  h5#offcanvasNavbarLabel {
    margin-left: 26%;
  }
  .carousel-container {
    width: 300px;
  }
}
